@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Sets 1rem to 10px */
}

body {
    margin: 0;
    font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem; /* Base font size */
    font-weight: 400;
    line-height: 1.5;
    color: #7D7987;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Viewport adjustments */
@media (max-width: 768px) {
    html {
        font-size: 50%; /* Adjust font size for smaller screens */
    }
}

/* Flex utilities */
.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hidden class */
.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Quiz container */
.quiz-container {
    margin: 10px auto;
    width: 100%;
    max-width: 65rem; /* Maximum width */
    height: auto; /* Adjust height to fit content */
    position: relative;
    border-radius: 2rem;
    border: 1px solid #26ff00;
    background: radial-gradient(#303035, #080808 74%);
    overflow: hidden; /* Ensure content does not overflow */
}

/* Instructions section */
.instructions {
    width: 100%;
    padding: 1rem;
    position: relative;
    border-radius: 2rem;
    color: #eaeaea;
    font-size: 1.6rem;
    font-weight: 100;
    font-style: italic;
    flex-direction: column;
    display: flex;
}

.instructions ul {
    padding-left: 1rem;
}

.instructions li {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Top section */
.top {
    width: 100%;
    display: flex;
    color: #c6c6c6;
    font-size: 2.2rem;
    padding: 1rem 2rem;
    position: relative;
    font-family: 'Fredoka';
    justify-content: space-between;
    box-shadow: 0px 8px 8px 1px #0000007a;
}

/* Start quiz button */
.start-quiz {
    align-self: center;
}

/* Question section */
.ques-container {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
    filter: drop-shadow(0px 0px 1px #26ff00);
}

.ques-number {
    width: 20%;
    text-align: center;
    margin-bottom: -1%;
    background: #060606;
    border-radius: 10rem 10rem 0 0;
    clip-path: polygon(10% 0%, 90% 0, 100% 100%, 0% 100%);
    color: #26ff00;
    font-size: 1.6rem;
    padding: 0.5rem 0;
}

.question {
    min-height: 8rem;
    text-align: center;
    background: #060606;
    border-radius: 50px;
    color: #26ff00;
    font-size: 1.8rem;
    padding: 1.2rem 2.5rem 0.5rem;
    clip-path: polygon(4% 5%, 96% 5%, 100% 4%, 95% 100%, 0% 100%, 5% 100%, 0% 4%);
    margin-top: 1rem;
}

/* Options */
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.options li {
    flex: 0 0 calc(50% - 1rem);
    cursor: pointer;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 8px 20px;
    background: #060606;
    border-radius: 50px 10px;
    border: 1px solid #26ff00;
    list-style: none;
    text-align: center;
}

.options li:hover {
    background: #161616;
}

/* Bottom section */
.bottom {
    width: 100%;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 0 0 15px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    box-shadow: 0px -4px 6px 0px #00000038;
}

/* Timer */
.timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #26ff00;
}

/* Correct and Incorrect Answers */
.correctAnswer,
.incrorrectAnswer {
    transition: .3s;
    color: #e2e2e2 !important;
    border: 1px solid #bcbcbc !important;
}

.correctAnswer {
    background: #26ff0090 !important;
}

.incrorrectAnswer {
    background: #ff0000a8 !important;
}

/* Button styles */
button {
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 2rem;
    border: 1px solid #66BB6A;
    background: #00000063;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    transition: background .3s;
    display: block;
    margin: 0 auto;
}

button:hover {
    background: #000000c5;
}

/* Result section */
.result {
    width: 80%;
    height: 60%;
    transition: .1s;
    color: #ffffff;
    font-size: 2.2rem;
    padding: 1.5rem 0;
    position: absolute;
    border-radius: 40px;
    flex-direction: column;
    border: 1px solid #26ff00;
    box-shadow: 0px 0px 20px 4px #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table */
table {
    border-radius: 10px;
    border: 1px solid #26ff00;
    color: rgb(210, 210, 210);
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th,
td {
    background: #08080829;
    text-align: center;
    padding: 10px;
    font-size: 1.8rem;
}

/* Action section */
.action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

/* Final statement */
.final-statement {
    color: #aaffaa;
    font-style: italic;
    margin: -2rem 0 3rem;
    font-weight: bold;
    font-size: 2rem;
}

/* Timer animation */
@keyframes timer {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}
